.main-header{
    background-color: black;
    min-height:500px;
}
.main-header > .col-xs-12 > h1{
    font-family: 'Shadows Into Light';
    color:white;
    font-size: 700%;
}

.main-header > .col-md-3 > h2{
    font-size: 65px;
    color:white;
    padding-left:25px;
}
.box{
    border: red 5px solid;
    max-width:300px;
    min-width:299px;
}
.navigation{
    margin-left:50px;
    margin-top:50px;
}

.nav > li{
    margin-right:50px;
}
.nav-pills> li > a{
    border: solid;
    background-color:white;
    color: black;
}
.nav-pills > li > a{
    color: black;
}

.about_me{
    margin-top:50px;
}
.projects h1{
    margin-left:10px;
    margin-bottom:30px;
}

.img-circle{
    border: solid;
    border-color: black;
}

.thumbnail{
    border: solid;
    border-color: black;
}

.icon{
    padding-left: 10px;
}

.seperator{
    margin-top:50px;
    margin-bottom:50px;
}

.footer{
    margin-top:50px;
}

.footer a{
    color:black;
}
